dbt-bigquery

# Requirements Cosmos 1.2.0
#astronomer-cosmos==1.2.0

# Requirements Cosmos 1.3.0
astronomer-cosmos==1.3.0

# Requirements Cosmos 1.4.0
# astronomer-cosmos==1.4.0

# Requirements Cosmos 1.4.3
# astronomer-cosmos==1.4.3

# Requirements Cosmos 1.5.0
# astronomer-cosmos==1.5.0

# Requirements Cosmos 1.6.0
# astronomer-cosmos==1.6.0